a:hover {
    cursor: wait;
}
table {
    text-align: center;
    border-collapse: collapse;
}

#table_title {
    font-weight: bold;
    background-color:aqua;
}

#table_content {
    background-color:aliceblue;
}

.add {
    color: red;
}

.sub {
    color: blue;
}

.end {
    font-weight: bold;
}